<div class="panel panel-default">
	<div class="panel-heading">
			<div class="panel-title">
			<h4 class="text-center">Add Tony's New Client</h4>
			 </div>
	</div>
	<div class="panel-body">
		<%= form_for @client do |f| %>
			<div class= "form form-vertical">
				<div class="form-group">
				  	<div class="controls">
				  		<%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
				  	</div>
				</div>      
				<div class="form-group">
				  	<div class="controls">
				  		<%= f.text_field :mt4_id, class: 'form-control', placeholder: 'MT4 ID' %>
				  	</div>
				</div>
				<div class="form-group">
				    <div class="controls">
				    	<%= f.text_field :capital_sold, class: 'form-control', placeholder: 'Capital Sold' %>
				  	</div>
				</div>    
				<div class="form-group">
				  	<div class="controls">
				    	<div class="text-center">
				    		<label></label>
				    		<%= f.submit "Add Client", class:'btn btn-success' %>
				    	</div>
				  	</div>
				</div> 
			</div>  
		<% end %>
	</div><!--/panel content-->
</div><!--/panel-->